{{#if error}}
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    {{message}}
  </div>
{{/if}}

{{#if user}}
<div class="title">
<h2> Welcome to PokéBazaar </h2>
</div>
<div class="form-group">
  <a href="/myProfile" class="btn btn-primary">My Profile</a>
</div>
<div class="form-group">
  <a href="/logout" class="btn btn-primary">Logout</a>
</div>
<form method="POST"  to ="/result" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
  <div class="form-group">
    <input type="text" placeholder="Search for (Pokémon)..." class="form-control">
  </div>
  <div class="form-group">
    <input type="number" placeholder="Search for (CP)..." class="form-control">
  </div>
  <div class="form-group">
    <input type="text" placeholder="Search for (Location)..." class="form-control">
  </div>
<div class="form-group">
  <button class="btn btn-primary">Search for Pokemon to trade</button>
</div>
</form>

<div class="recent-trade">
<h3> Recent Listed trade request </h3>
{{# each list }}
<div class="single-trade">
  {{this.user}}
  {{this.picture}}
  {{this.forTrade}}
  {{this. number}}
  {{this.time}}
</div>
{{/each}}
</div>


{{else}}
<div class="form-group">
  <a href="/login" class="btn btn-primary">Login</a>
</div>
<div class="form-group">
  <a href="/register" class="btn btn-primary">Register</a>
</div>
<div class="title">
<h2> Welcome to PokeBazaar </h2>
</div>
<form method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
<div class="search-bar">
  <input type="text" placeholder="search for pokemon"> </input>
</div>
<div class="search-bar">
  <input type="number" placeholder="search for CP"> </input>
</div>
<div class="form-group">
  <a href="/search" class="btn btn-primary">Search for Pokemon to trade</a>
</div>
</form>

<div class="recent-trade">
<h3> Recent Listed trade request </h3>
{{# each list }}
<div class="single-trade">
  {{this.user}}
  {{this.picture}}
  {{this.forTrade}}
  {{this. number}}
  {{this.time}}
</div>
{{/each}}
</div>

{{/if}}
